@charset "utf-8" ; 

/* 초기화 코드 */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
    padding: 20px;
}

#signup {}

#signup fieldset {

}

/* 제출 버튼 */
#signup fieldset:last-of-type {

}

/* 로그인 정보, 개인정보 */
#signup legend {

}

/* 개인정보 li, 로그인 정보 li */
#signup ul li {

}

/* label요소 */
#signup label {

}

/* 제출 버튼 */
#signup button {

}

#signup input[type=text], #signup input[type=password], #signup input[type=email], #signup input[type=tel] {

}

/* input에서 required 속성을 가진 요소만 선택 */
#signup input[required] {

}

/* input에서 readonly 속성을 가진 */
#signup input[readonly] {

}

/* 버튼에 마우스 올렸을 때 */
#signup button:hover {

}
