@charset "utf-8";
@import url('./reset.css');

/* 헤더 전체적용 */
.header {
  background-color: #151515;
  width: 100%;
  position: fixed;
  z-index: 2;
  box-shadow: 0 2px 3px rgba(236, 29, 36, 0.2);
}

/* 헤더박스 */
.header_nav {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* 로고 */
.header_nav > h1 {
  width: 200px;
  text-align: center;
  flex-grow: 0;
}

/* 메뉴박스 */
.menu {
  /* padding-top: 10px; */
  width: calc(100% - 500px);
}
.menu_main {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  position: relative;
}

/* 상위메뉴 */
.main_list {
  font-size: 1.2rem;
  padding-top: 10px;
  position: relative;
  width: 120px;
}

.main_list > a {
  color: rgb(236, 29, 36);
}

/* 하위메뉴 바탕판넬 */
.header_panel {
  background-color: #151515;
  /* margin-top: 100px; */
  width: 100%;
  height: 110px;
  display: none;
}

/* 하위메뉴 */
.main_list > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.list_drop {
  position: absolute;
  width: 120px;
  top: 70px;
  line-height: 30px;
  font-size: 0.8rem;
  text-align: center;
  display: none;
}

.list_drop li a {
  color: #fff;
}

/* 로그인버튼 */
.menu_login {
  padding-top: 10px;
  width: 200px;
  text-align: center;
}
.menu_login button {
  background: none;
  border: 0;
  font-size: 1.2rem;
}

.menu_login button a {
  color: rgb(236, 29, 36);
}

/* 모바일 로그인버튼 */
.menu_Mlogin {
  padding-top: 10px;
  display: none;
}

.menu_Mlogin .Mbtn {
  background: none;
  border: 0;
  font-size: 1.2rem;
  color: rgb(236, 29, 36);
}

.menu_Mlogin .Mbtn a {
  color: rgb(236, 29, 36);
}

/* 우측 하단 업다운 버튼 */
.fixed_btn {
  position: fixed;
  right: 50%;
  bottom: 10%;
  margin-right: -640px;
  text-align: center;
  width: 60px;
  height: 110px;
  z-index: 1;
}
.box_updown {
  display: flex;
  width: 50px;
  height: 50px;
  line-height: 70px;
  text-align: center;
  justify-content: center;
  opacity: 0.7;
  margin-top: 10px;
}
.box_updown a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  font-size: 0.8rem;
}

.footer {
  height: 300px;
  background: #151515;
  position: relative;
}

.footer_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50px;
}

.ft_level1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 250px 40px;
  align-items: center;
}

.ft_level1 ul li a {
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
  align-items: center;
}

.ft_level2 {
  display: flex;
  justify-content: center;
}

.ft_level2 nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

.ft_level2 nav,
.ft_level2 a {
  font-size: 0.8rem;
  color: #fff;
  padding: 0px 5px;
}

@media all and (max-width: 768px) {
  .menu {
    /* padding-top: 10px; */
    width: calc(100% - 100px);
  }

  .header_nav > h1 {
    padding-top: 10px;
  }

  .header_nav > h1 img {
    width: 200px;
  }

  .header_nav {
    max-width: 768px;
    margin: 0;
  }

  .menu_main {
    height: 50px;
  }

  .main_list {
    font-size: 1rem;
    width: 100px;
  }

  .header_panel {
    height: 150px;
  }

  .menu_login {
    display: none;
  }

  .menu_Mlogin {
    display: block;
  }

  .fixed_btn {
    margin-right: -48%;
  }

  .ft_level1 {
    margin: 30px 10px 40px;
  }

  .ft_level1 img {
    width: 150px;
  }

  .ft_level1 ul li a {
    font-size: 0.8rem;
    line-height: 20px;
  }

  .ft_level2 nav {
    justify-content: center;
  }
}

@media all and (max-width: 1024px) {
  .menu {
    /* padding-top: 10px; */
    width: calc(100% - 100px);
  }

  .header_nav > h1 {
    padding-top: 10px;
  }

  .header_nav > h1 img {
    width: 200px;
  }

  .header_nav {
    max-width: 768px;
    margin: 0;
  }

  .menu_main {
    height: 50px;
  }

  .main_list {
    font-size: 1rem;
  }

  .header_panel {
    height: 150px;
  }

  .menu_login {
    display: none;
  }

  .menu_Mlogin {
    display: block;
  }

  .fixed_btn {
    margin-right: -48%;
  }

  .ft_level1 {
    margin: 30px 10px 40px;
  }

  .ft_level1 img {
    width: 150px;
  }

  .ft_level1 ul li a {
    font-size: 0.8rem;
    line-height: 20px;
  }

  .ft_level2 nav {
    justify-content: center;
  }
}
