@charset "utf-8";
@import url('./common.css');

.wrap {
    background-color: #151515;
    padding-top: 100px;
}

section .con {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

/* ============================== */
.slider {
    height: 700px;
}

.slider_content {
    background: #151515;
}

.slider_content > h1 {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0px 20px;
    color: #fff;
}


.slider_content .mySwiper {
    width: 100%;
    height: 605px;
}

.slider_content .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
  

.slider_content .swiper-slide.slide1 {
    background: url(../img/slide01.jpg);
    background-size: cover;
    background-position:center;
}

.slider_content .swiper-slide.slide2 {
    background: url(../img/slide02.png);
    background-size: cover;
    background-position:center;
}

.slider_content .swiper-slide.slide3 {
    background: url(../img/slide03.jpg);
    background-size: cover;
    background-position:center;
}

.slider_content .swiper-slide.slide4 {
    background: url(../img/slide04.jpg);
    background-size: cover;
    background-position:center;
}

.slider_content .swiper-slide.slide5 {
    background: url(../img/slide05.jpg);
    background-size: cover;
    background-position:center;
}

/* ============================== */
.youtube {
    height: 800px;
    margin-top: 50px;
}

.youtube_content > h1 {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0px 20px;
    color: #fff;
}

.youtube_content {
    background-color: #151515;
}


/* ============================== */
.character {
    height: 680px;
    margin-top: 50px;
} 

.character_content > h1 {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0px 20px;
    color: #fff;
}

.character_content {
    display: flex;
    flex-direction: column;
    background-color: #151515;
    justify-content: center;
}

.main_character {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 50px;
    text-align: center;
    align-items: center;
}

/* .main_character img {
    transition: all 0.2s linear;
}

.main_character img:hover {
    transform: scale(1.1);
} */

.main_character img {
    height: 450px;
} 

.main_character a {
    display: block;
    overflow: hidden;
    position: relative;
}

.main_character figcaption {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    line-height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}

.main_character figcaption:after {
    content: '';
    display: block;
    border: 1px solid #fff;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
}

.main_character a:hover figcaption, .main_character a:focus figcaption {
    opacity: 1;
}

/* ============================== */
.essential {
    height: 605px;
    margin-top: 50px;
}

.essential_content > h1 {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0px 20px;
    color: #fff;
}

.essential_content {
    display: flex;
    flex-direction: column;
    background-color: #151515;
    justify-content: center;
}

.essential_poster {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 50px 0px;
    text-align: center;
    align-items: flex-end;
}

.essential_poster h3 {
    padding: 5px 0 5px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fff;
    text-align: center;
}

.essential_poster img {
    transition: all 0.2s linear;
}

.essential_poster img:hover {
    transform: scale(1.1);
}

.essential_poster img {
    height: 260px;
}

/* ============================== */
.poster {
    height: 605px;
    margin-top: 50px;
}

.poster_content > h1 {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0px 20px;
    color: #fff;
}

.poster_content {
    display: flex;
    flex-direction: column;
    background-color: #151515;
    justify-content: center;
}

.mv_poster {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 50px 0px;
    text-align: center;
    align-items: flex-end;
}

.mv_poster h3 {
    padding: 5px 0 5px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fff;
    text-align: center;
}

.mv_poster img {
    transition: all 0.2s linear;
}

.mv_poster img:hover {
    transform: scale(1.1);
}

.mv_poster img {
    height: 260px;
}


/* ============================== */
.ott {
    height: 700px;
    margin-top: 50px;
}

.ott_content > h1 {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0px 20px;
    color: #fff;
}

.ott_content > h3 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0px 20px;
    color: #fff;
}

.ott_content {
    display: flex;
    flex-direction: column;
    background-color: #151515;
    justify-content:space-around;

}

.ott_content img {
    width: 1280px;
    height: 550px;
    object-fit: cover;
}


@media all and (max-width:768px){ 

    .wrap {
        padding-top: 140px;
    }

    section .con {
        max-width: 768px;
    }

    .slider_content .swiper-slide.slide1 {
        background: url(../img/Mevent_01.png);
        background-size: cover;
        background-position:center;
    }
    
    .slider_content .swiper-slide.slide2 {
        background: url(../img/Mevent_02.png);
        background-size: cover;
        background-position:center;
    }
    
    .slider__content .swiper-slide.slide3 {
        background: url(../img/Mevent_01.png);
        background-size: cover;
        background-position:center;
    }

    .youtube {
        height: 350px;
    }

    .release {
        height: 550px;
    }

    .rel_poster {
        padding: 10px 10px 0px
    }

    .rel_poster img {
        height: 300px;
        margin-top: 10px;
    }
    
    .rel_poster .ov_poster {
        text-align: center;
    }

    .rel_poster .ov_poster h3 {
        font-size: 0.9rem;
    }

    .rel_poster .ov_poster p {
        font-size: 0.9rem;
    }
    
    .poster {
        height: 600px;
    }

    .mv_poster {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .mv_poster h3 {
        font-size: 0.9rem;
        top: 96%;
        left: 5%;
    }
    
    .mv_poster > div {
        width: 49%;
    }
    
    .mv_poster img {
        height: 200px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .store {
        height: 600px;
    }

    .store__list ul {
        flex-wrap: wrap;
        line-height: 50px;
        padding: 0px 10px 30px;
    }

    .store_list li {
        width: 33.33%;
    }
}