@charset "utf-8";

.wrap {
    padding-top: 100px;
}


section .con {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

/* ============================== */
.slider {
    height: 405px;
}

.slider__content {
    background-color: #151515;
}

.slider__content .swiper-slide.slide1 {
    background: url(../img/event_sub_01.png);
    background-size: cover;
    background-position:center;
}

.slider__content .swiper-slide.slide2 {
    background: url(../img/event_sub_01.png);
    background-size: cover;
    background-position:center;
}

.slider__content .swiper-slide.slide3 {
    background: url(../img/event_sub_01.png);
    background-size: cover;
    background-position:center;
}


.slider__content .mySwiper {
    width: 100%;
    height: 405px;
}

.slider__content .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
  

/* ============================== */
.mvclip {
    height: 2000px;
    margin: 0 auto;
}

.mvclip__content {
    max-width: 1280px;
}

.mvclip__content .mvtitle {
    background-color: aqua;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.mvclip__content .mvtitle > h1 {
    font-size: 2.5rem;
}



.clip__menu {
    height: 70px;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clip__rank {
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.clip__rank a {
    font-size: 0.9rem;
    padding-left: 10px;
}
/* 
.main__stillshot {
    height:1610px;
} */

.main__stillshot ul {
    height:1610px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: space-around;
}

.main__stillshot ul li {
    background-color: yellow;
    width: 390px;
    height: 450px;
}

.page__num {
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.page__num ul {
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 50px;
    align-items: center;
}

.page__num ul li {
    display: flex;
    width: 50px;
    height: 50px;
    line-height: 50px;
    justify-content: center;
    letter-spacing: -3px;
}






@media all and (max-width:768px){ 
    section .con {
        max-width: 768px;
    }

    .slider__content .swiper-slide.slide1 {
        background: url(../img/Mevent_sub_01.png);
        background-size: cover;
        background-position:center;
    }
    
    .slider__content .swiper-slide.slide2 {
        background: url(../img/Mevent_sub_01.png);
        background-size: cover;
        background-position:center;
    }
    
    .slider__content .swiper-slide.slide3 {
        background: url(../img/Mevent_sub_01.png);
        background-size: cover;
        background-position:center;
    }

    .main__stillshot ul li {
        width: 200px;
        height: 250px;
    }

    .main__stillshot ul {
        height:900px;
    }

    .mvclip {
        height: 1300px;
    }
}


@media all and (max-width:1024px){ 
    section .con {
        max-width: 768px;
    }

    .slider__content .swiper-slide.slide1 {
        background: url(../img/Mevent_sub_01.png);
        background-size: cover;
        background-position:center;
    }
    
    .slider__content .swiper-slide.slide2 {
        background: url(../img/Mevent_sub_01.png);
        background-size: cover;
        background-position:center;
    }
    
    .slider__content .swiper-slide.slide3 {
        background: url(../img/Mevent_sub_01.png);
        background-size: cover;
        background-position:center;
    }

    .main__stillshot ul li {
        width: 200px;
        height: 250px;
    }

    /* .main__stillshot ul {
        height:900px;
    } */
}